name: Storybook Tests

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24.4.1

      - name: Install Playwright
        run: npm run install-chromium

      - name: Install dependencies
        run: npm ci

      - name: Run tests
        run: npm run test-storybook
